In [1]:
print ("Hello World!")

Hello World!

In [2]:
 message = "this is python"

In [3]:
print message * 2

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-3-6b4bffd84201>, line 1)

In [4]:
print (message * 2)

this is pythonthis is python

In [5]:
my_number = 34546456

In [7]:
print (my_number + 9876543)

44422999

In [8]:
my_larger_number = my_number * 1000

In [9]:
print(my_larger_number)

34546456000

In [10]:
weird_word = "one" + "one"
print (weird_word)

oneone

In [13]:
print(message + weird_word)

this is pythononeone

In [18]:
print(message [0:10])

this is py

In [23]:
year = 1983
year = str(year)
print (year[0:2])

19

In [31]:
year = 1983
year = str(year)
print (year [-2:])

83

In [33]:
message[::2]

'ti spto'

In [39]:
my_name = input("what's the name, buddddy? ")
if my_name.lower() == "sam":
    print("Yo")
else:
    print("Na")

what's the name, buddddy? SAM
Yo